
__pycache__/
*.py[cod]
*$py.class

*.so

.venv/
venv/
env/
ENV/


.env
.env.*
!.env.example

.vscode/

.idea/


.pytest_cache/
.coverage
.coverage.*
htmlcov/


.mypy_cache/
.ruff_cache/
.tox/

build/
dist/
*.egg-info/
.eggs/
# ==============================

.ipynb_checkpoints/


Thumbs.db
Desktop.ini

.DS_Store


*.tmp
*.temp
*.log
teste*